# basic info
EVMM_CMPL_FLAGS += \
 -DMAX_CPU_NUM=4

# For SMP
EVMM_CMPL_FLAGS += \
 -DLIB_MP_INIT

#Serial port configure
EVMM_CMPL_FLAGS += \
 -DLIB_PCI \
 -DLIB_PRINT \
 -DSERIAL_MMIO \
 -DSERIAL_PCI \
 -DSERIAL_PCI_BUS=0 \
 -DSERIAL_PCI_DEV=24 \
 -DSERIAL_PCI_FUN=2

ifeq ($(TARGET_BUILD_VARIANT),user)
EVMM_CMPL_FLAGS += \
 -DMODULE_DEV_BLK \
 -DMODULE_BLOCK_NPK \
 -DNPK_PCI_BUS=0x0 \
 -DNPK_PCI_DEV=0x0 \
 -DNPK_PCI_FUN=0x2
endif

export LOADER_STAGE0_SUB = $(BOOT_ARCH)
